hidden = ["target", ".cargo"]
modules = ["rust-1.72:v1-20230911-f253fb1"]
run = "cargo run"

[nix]
channel = "unstable"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
run = ["sh", "-c", "cargo run"]
